<div class="footer">
  <hr>
  &copy;&nbsp;<span (click)="pushButton()">{{ copyrightYear }}</span>&nbsp;Tomonori Tanabe&nbsp;<a [appUrl]="['privacyPolicy']">Privacy</a><br>
  <span>Hosted on Amazon S3 with CloudFront. SSL/TLS certificate provisioned through AWS Certificate Manager. Built with <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli">Angular CLI</a> version {{ angularCLIVersion }}. (Angular {{ angularVersion }}). <a target="_blank" href="https://github.com/tanb/tanb-express">GitHub</a></span>
</div>
