@import 'src/sass/variables';

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

hr {
  margin-bottom: 4px;
  border-top: 1px solid $font-light-gray;
}

.footer {
  color: $font-light-gray;
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: #ededed;
  }
}
