// screen sizes
$screen-xs-max: 576px;
$screen-sm-min: 577px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;


// colors
$font-base: #373737;
$font-light-gray: #5e5e5e;
$font-gray: #4e4e4e;
$link: #337ab7;
$light-body-bg-color: #ffffff;
$dark-body-bg-color: #1d1d1d;
$shadow-base-color: #000000;
$icon-border-color: #bbbbbb;
