{
  "plugins": ["prettier-plugin-organize-imports", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 140,
  "importOrder": ["^@angular/(.*)$", "<THIRD_PARTY_MODULES>", "^[./|app/]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
