.name {
  text-align: center;
  font-size: 1.5rem;
}

.name {
  color: #ffbadf;
  font-weight: 100;
  text-shadow:
    0 0 0.1em #fff,
    0 0 0.2em #fff,
    0 0 0.3em #fff,
    0 0 0.4em #f7f,
    0 0 0.6em #f0f,
    0 0 0.8em #f0f,
    0 0 1em #f0f,
    0 0 1.2em #f0f;
}

.nickname {
  margin-top: 0.25rem;
  text-align: center;
}

.nickname {
  a {
    text-decoration: none;
    color: #b2dff7;
    font-weight: 100;
    text-shadow:
      0 0 0.1em #fff,
      0 0 0.2em #fff,
      0 0 0.3em #fff,
      0 0 0.4em #1500be,
      0 0 0.6em #1500f0,
      0 0 0.8em #1500f0,
      0 0 1em #1500f0,
      0 0 1.2em #1500f0;
  }
}

.title {
  text-align: center;
  background: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
