@import 'src/sass/variables';

.menubar {
  overflow: hidden;
  height: 40px;
  .inner {
    a {
      color: $font-light-gray;
    }
    padding-bottom: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.partition {
  hr {
    margin-top: 0px;
  }
}
