@import 'src/sass/variables';

.menubar {
  overflow: hidden;
  height: 40px;
  .inner {
    padding-bottom: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.partition {
  hr {
    margin-top: 0px;
  }
}

.menubar {
  .inner {
    a {
      color: $font-light-gray;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .menubar {
    .inner {
      a {
        color: white;
      }
    }
  }
}
