@screen-sm-min: 769px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.loader {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    .key {
        font-size: 80px;
    }
    .message {
        display: table-cell;
        vertical-align: middle;
    }
}

.footer {
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    li {
        padding-left: 1.3em;
    }
    li:before {
        display: inline-block;
        margin-left: -1.6em;
        width: 1.6em;
    }
    li.lock:before {
        content: "\1F512";
    }
    li.oldkey:before {
        content: "\1F5dd";
    }
    li.key:before {
        content: "\1F511";
    }
    li.door:before {
        content: "\1F6aa";
    }
}

@media (min-width: @screen-sm-min) {
.loader {
    .key {
        font-size: 40px;
    }
    .message {
    }
}
}
@media (min-width: @screen-md-min) { }
@media (min-width: @screen-lg-min) { }