@import 'src/sass/variables';
@import 'src/sass/mixins';

.navbar-brand {
  cursor: pointer;
  i {
    &:before {
      position: relative;
      right: 1.5rem;
    }
    $icon-height: 2rem;
    font-size: $icon-height * 5;
    line-height: $icon-height;
    display: flex;
    align-items: center;
  }
  color: $light-text-color;
  &:hover {
    color: rgba($light-text-color, 70%);
  }
  @media (prefers-color-scheme: dark) {
    color: $dark-text-color;
    &:hover {
      color: rgba($dark-text-color, 70%);
    }
  }
}
