<div id="discord-background" *ngIf="showDiscord" (click)="onClickDiscordToggle()">
  <iframe id="discord-frame" src="https://discordapp.com/widget?id=345885248611024896&theme=dark" allowtransparency="true" frameborder="0"></iframe>
</div>
<div id="discord-icon" *ngIf="!showDiscord" (click)="onClickDiscordToggle()">
  <img src="assets/img/Discord-Logo-White.png">
</div>
<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="footer">
  <div>
    &copy;&nbsp;<span (click)="pushButton()">{{ copyrightYear }}</span>&nbsp;<a href="mailto:tanb@superrare.equipment">Tomonori Tanabe</a><br>
    <span>Hosted on Amazon S3 with CloudFront. SSL/TLS certificate provisioned through AWS Certificate Manager. Built with <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli">Angular CLI</a> version {{ angularCLIVersion }}. (Angular {{ angularVersion }}). <a target="_blank" href="https://github.com/tanb/xn--sn8h24a">GitHub</a></span>
  </div>
</div>
