<div class="flex-container">
  <div class="cover flex-item">
    <div class="image"></div>
    <div class="profile d-flex d-sm-none">
      <section>
        <h4>TOMONORI TANABE (tanb)</h4>
        Co-Founder, Software Engineer at <a target="_blank" href="https://orthopics.jp/aboutus">Bebop Inc.</a><br>
        Software Engineer at <a target="_blank" href="http://www.flat.bz/">Flat Inc.</a><br>
      </section>
    </div>
  </div>

  <div class="main flex-item">
    <div class="d-none d-sm-block">
      <app-nav></app-nav>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <div class="container footer">
      <div>
        &copy;&nbsp;<span (click)="pushButton()">{{ copyrightYear }}</span>&nbsp;<a href="mailto:tanb@superrare.equipment">Tomonori Tanabe</a><br>
        <span>Hosted on Amazon S3 with CloudFront. SSL/TLS certificate provisioned through AWS Certificate Manager. Built with <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli">Angular CLI</a> version {{ angularCLIVersion }}. (Angular {{ angularVersion }}). <a target="_blank" href="https://github.com/tanb/xn--sn8h24a">GitHub</a></span>
      </div>
    </div>

  </div>
</div>
