<div class="container">
  <div class="post-list-wrap">
    <li *ngFor="let blog of blog">
      <a [routerLink]="blog.route">
        <div class="post-card">
          <div class="image-frame-wrap">
            <div class="image-frame-75">
              <img [attr.src]="blog.featured_image" *ngIf="blog.featured_image; else defaultImage">
              <ng-template #defaultImage>
                <img src="/assets/img/tanb-express.jpg">
              </ng-template>
              <div class="crt"></div>
            </div>
          </div>
          <div class="post-data">
            <div class="title-wrap">
              <span>{{ blog.title || blog.route }}</span>
            </div>
            <div class="description-wrap">
              <span>{{ blog.description }}</span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </div>
</div>
