<footer class="footer">
  <div class="container">
    <p class="text-center">
      May the <a href="https://github.com/tanb/tanb.github.com/tree/source">source</a> be with you, always...
    </p>
    <p class="text-center">
      Copyright © <script type="text/javascript"> document.write(new Date().getFullYear()); </script> |
      <span class="credit">Powered by <a href="http://getpelican.com" target="blank">Pelican</a>, <a href="https://pages.github.com" target="blank">GitHub Pages</a></span>
    </p>
  </div>
</footer> <!-- /.footer -->
