<header class="header">
  <div class="container">
    <div class="header-image pull-left">
      <a class="nodec" href="/"><img src="{{ SITEURL }}/theme/img/header-image.jpg"></a>
    </div>
    <div class="pull-right">
      <a class="header-translate" href="https://translate.google.com/translate?sl=ja&tl=en&ie=UTF-8&u=https%3A%2F%2Ftanb.me">English</a>
    </div>
    <div class="header-inner">
      <h1 class="header-name">
        <a class="nodec" href="/">{{ SITENAME }}</a>
      </h1>
      <h3 class="header-text">{{ SITE_SUBTEXT }}</h3>
      <ul class="header-menu list-inline">
        {% for title, link in MENU_ITEMS %}
          <li><a class="nodec" href="{{ link }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header> <!-- /.header -->
