<div class="container">
  <h2>Hello</h2>
  Co-Founder, Software Engineer at <a href="https://orthopics.jp/aboutus" target="_blank">Bebop Inc.</a><br>
  Software Engineer at <a href="//flat.bz/" target="_blank">Flat Inc.</a><br>

  <h2>Where you can find me</h2>
  <ul>
    <li><a href="https://keybase.io/tanb" target="_blank">Keybase</a></li>
    <li><a href="https://twitter.com/tanb" target="_blank">Twitter</a></li>
    <li><a href="https://facebook.com/tomonori.t" target="_blank">Facebook</a></li>
    <li><a href="https://github.com/tanb" target="_blank">GitHub</a></li>
    <li><a href="https://itunes.apple.com/jp/developer/tomonori-tanabe/id757024440" target="_blank">iTunes App Store</a></li>
  </ul>

  <h2>Language</h2>
  <ul>
    <li>Python</li>
    <li>JavaScript</li>
    <li>Objective-C</li>
    <li>Swift</li>
    <li>C#</li>
  </ul>

  <h2>Thanks</h2>
  <ul>
    <li><a href="https://www.freebsd.org" target="_blank">FreeBSD</a></li>
    <li><a href="http://brew.sh" target="_blank">Homebrew</a></li>
    <li><a href="https://www.gnu.org/software/emacs/" target="_blank">GNU Emacs</a></li>
    <li><a href="https://github.com/about" target="_blank">GitHub</a></li>
    <li><a href="http://electron.atom.io" target="_blank">ELECTRON</a></li>
    <li><a href="https://www.chromium.org" target="_blank">Chromium</a></li>
    <li><a href="https://developer.apple.com/library/mac/documentation/DriversKernelHardware/Reference/Hypervisor/" target="_blank">Hypervisor Framework</a></li>
    <li><a href="http://veertu.com" target="_blank">Veertu</a></li>
    <li><a href="https://slack.com" target="_blank">Slack</a></li>
    <li><a href="https://www.mercurial-scm.org" target="_blank">mercurial</a></li>
    <li><a href="https://1password.com" target="_blank">1Password</a></li>
  </ul>
</div>
<div class="container">
  <div class="footer">
    tanb &copy; 2016
  </div>
</div>
