<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Hello, I'm tanB.</h2>
      Co-Founder, Software Engineer at <a href="https://orthopics.jp/aboutus" href-blank>Bebop Inc.</a><br>
      Software Engineer at <a href="http://flat.bz/" href-blank>Flat Inc.</a><br>

      <h2>Where you can find me</h2>
      <ul>
        <li><a href="https://docs.dungeonkeys.io" href-blank>Docs.dungeonkeys.io</a></li>
        <li><a href="https://keybase.io/tanb" href-blank>Keybase</a></li>
        <li><a href="https://twitter.com/tanb" href-blank>Twitter</a></li>
        <li><a href="https://facebook.com/tomonori.t" href-blank>Facebook</a></li>
        <li><a href="https://www.instagram.com/tanbgram/" href-blank>Instagram</a></li>
        <li><a href="https://github.com/tanb" href-blank>GitHub</a></li>
        <li><a href="https://itunes.apple.com/jp/developer/tomonori-tanabe/id757024440" href-blank>iTunes App Store</a></li>
      </ul>

      <h2>Major languages</h2>
      <ul>
        <li><a href="https://www.python.org" href-blank>Python</a></li>
        <li><a href="https://www.typescriptlang.org" href-blank>TypeScript</a></li>
        <li><a href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html" href-blank>Objective-C</a></li>
        <li><a href="https://swift.org" href-blank>Swift</a></li>
        <li><a href="https://msdn.microsoft.com/library/67ef8sbd.aspx" href-blank>C#</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Japanese_language" href-blank>日本語</a></li>
      </ul>

      <h2>Acknowledgements</h2>
      <ul>
        <li><a href="https://www.freebsd.org" href-blank>FreeBSD</a></li>
        <li><a href="http://brew.sh" href-blank>Homebrew</a></li>
        <li><a href="https://www.gnu.org/software/emacs/" href-blank>GNU Emacs</a></li>
        <li><a href="https://github.com/about" href-blank>GitHub</a></li>
        <li><a href="http://electron.atom.io" href-blank>ELECTRON</a></li>
        <li><a href="https://www.chromium.org" href-blank>Chromium</a></li>
        <li><a href="https://developer.apple.com/library/mac/documentation/DriversKernelHardware/Reference/Hypervisor/" href-blank>Hypervisor Framework</a></li>
        <li><a href="http://veertu.com" href-blank>Veertu</a></li>
        <li><a href="https://slack.com" href-blank>Slack</a></li>
        <li><a href="https://www.mercurial-scm.org" href-blank>Mercurial</a></li>
        <li><a href="https://1password.com" href-blank>1Password</a></li>
        <li><a href="https://letsencrypt.org" href-blank>Let's Encrypt</a></li>
      </ul>
    </div>
    <div class="col-sm-6 text-center">
      <br>
      <br>
      <img class="img-circle" src="static/img/tanb.jpg" style="width: 30%; border: solid 1px #bbb;">
      <br>
      <br>
      <br>
      <img class="img-circle" src="static/img/tanb_real.jpg" style="width: 30%; border: solid 1px #bbb;">
    </div>
  </div>
</div>
