<div class="d-flex flex-column flex-sm-row">
  <div class="head">
    <div class="cover-image">
      <div class="crt"></div>
    </div>
    <div class="title-box d-flex flex-column justify-content-end d-sm-none">
      <app-header-title class="text-center" layout="mobile"></app-header-title>
    </div>
  </div>

  <div class="body">
    <div class="container pt-2 pr-3 pl-3 pb-2" >
      <div class="d-none d-sm-block pull-left">
        <span class="a" (click)="onChangeLang('ja')">日本語</span> / <span class="a" (click)="onChangeLang('en')">English</span>
      </div>

      <div class="d-none d-sm-block" style="text-align: right;">
        <a class="navbar-brand" href="/">🐁🗯</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 d-none d-sm-block">
          <app-header-title layout="desktop"></app-header-title>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-12 col-sm-8 contactme">
          <button (click)="openModal()" type="button" class="btn btn-purple"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<span translate>Contact Me</span></button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-12">
          <h3 translate>Stats</h3>
          <ul>
            <li><span class="label"><span translate>Age</span>: </span>{{ age }}</li>
            <li><span class="label"><span translate>Works</span>: </span><br>
              <ul>
                <li><span translate>Co-Founder</span>, <span translate>Software Engineer</span> at Bebop Inc.</li>
                <li><span translate>Software Engineer</span> at Flat Inc.</li>
              </ul>
            </li>
            <li><span class="label"><span translate>Education</span>: </span><br>
              <ul>
                <li><span translate>M.S</span>. <span translate>Tokyo University of Science</span>, <br>
                  <a target="_blank" href="http://www.tus.ac.jp/en/grad/riko/info.html" class="nowrap"><span translate>Information Sciences</span></a> (<span translate>Bioinfomatics</span>)</li>
              </ul>
            </li>
            <li><span class="label"><span translate>Equipments</span>: </span>
              <ul>
                <li><a target="_blank" href="https://www.deuter.com/int-en/shop/backpacks/p24092-hiking-backpack-futura-24">FUTURA 24 HIKING BACKPACK black, Deuter</a></li>
                <li>MacBook Pro (13-inch, 2017), Apple</li>
                <li><a target="_blank" href="https://thevankeyboards.com/products/kumo-last">KUMO keyboard</a></li>
                <li><a target="_blank" href="https://www.therooststand.com">Roost Laptop Stand</a></li>
                <li>Wireless Noise-Canceling Headphones WH-1000XM3, Sony</li>
                <li>Besson 600 Bb Trumpet</li>
              </ul>
            </li>
            <li><span class="label"><span translate>Articles</span>: </span><a [appUrl]="'articleList'">{{ articles }}</a></li>
          </ul>

          <h3 translate>Where you can find me</h3>
          <ul>
            <li><a target="_blank" href="https://facebook.com/tomonori.t">Facebook</a></li>
            <li><a target="_blank" href="https://github.com/tanb">GitHub</a></li>
            <li><a target="_blank" href="https://www.instagram.com/tanbgram/">Instagram</a></li>
            <li><a target="_blank" href="https://itunes.apple.com/jp/developer/tomonori-tanabe/id757024440">iTunes App Store</a></li>
            <li><a target="_blank" href="https://keybase.io/tanb">Keybase</a></li>
            <li><a target="_blank" href="https://twitter.com/tanb">Twitter</a></li>
            <li><a target="_blank" href="https://500px.com/tanb">500px</a></li>
          </ul>

          <h3 translate>Languages</h3>
          <ul>
            <li><a target="_blank" href="https://msdn.microsoft.com/library/67ef8sbd.aspx">C#</a></li>
            <li><a target="_blank" href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html">Objective-C</a></li>
            <li><a target="_blank" href="https://www.python.org">Python</a></li>
            <li><a target="_blank" href="https://swift.org">Swift</a></li>
            <li><a target="_blank" href="https://www.typescriptlang.org">TypeScript</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Japanese_language">日本語</a></li>
          </ul>

          <h3 translate>Acknowledgements</h3>
          <ul>
            <li><a target="_blank" href="https://angular.io">Angular</a></li>
            <li><a target="_blank" href="https://www.chromium.org">Chromium</a></li>
            <li><a target="_blank" href="http://electron.atom.io">ELECTRON</a></li>
            <li><a target="_blank" href="https://www.freebsd.org">FreeBSD</a></li>
            <li><a target="_blank" href="https://github.com/about">GitHub</a></li>
            <li><a target="_blank" href="https://www.gnu.org/software/emacs/">GNU Emacs</a></li>
            <li><a target="_blank" href="http://brew.sh">Homebrew</a></li>
            <li><a target="_blank" href="https://developer.apple.com/library/mac/documentation/DriversKernelHardware/Reference/Hypervisor/">Hypervisor Framework</a></li>
            <li><a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a></li>
            <li><a target="_blank" href="https://www.mercurial-scm.org">Mercurial</a></li>
            <li><a target="_blank" href="https://slack.com">Slack</a></li>
            <li><a target="_blank" href="https://1password.com">1Password</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 text-center tanb-icon">
          <img class="rounded-circle" src="assets/img/tanb.jpg">
        </div>
      </div>

      <div class="d-sm-none d-block text-center">
        <span class="a" (click)="onChangeLang('ja')">日本語</span> / <span class="a" (click)="onChangeLang('en')">English</span>
      </div>
    </div>

    <div class="container">
      <app-footer></app-footer>
    </div>

  </div>
</div>
