<div class="d-flex flex-column flex-sm-row">
  <div class="head">
    <div class="cover-image"></div>
    <div class="title-box d-flex flex-column justify-content-end d-sm-none">
      <app-header-title class="text-white text-center"></app-header-title>
    </div>
  </div>

  <div class="body">
    <div class="d-none d-sm-block" style="text-align: right; padding: .5rem 1rem;">
      <a class="navbar-brand" href="/">🐁🗯</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 d-none d-sm-block">
          <app-header-title></app-header-title>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-12 col-sm-8 contactme">
          <button (click)="openModal()" type="button" class="btn btn-purple"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</button>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-12">
          <h3>Stats</h3>
          <ul>
            <li><span class="label">Age: </span>{{ age }}</li>
            <li><span class="label">Education: </span>M.S. Tokyo University of Science, <br>
              <a target="_blank" href="http://www.tus.ac.jp/en/grad/riko/info.html" class="nowrap">Information Sciences</a> (Bioinfomatics)</li>
            <li><span class="label">Equipments: </span>
              <ul>
                <li>Versalite Pack 20, Montbell</li>
                <li>MacBook Pro (13-inch, 2017), Apple</li>
                <li>CLASSIC VACUUM TRAVEL PRESS, STANLEY</li>
                <li>PowerCore+ 26800 PD, ANKER</li>
                <li>Besson 600 Bb Trumpet</li>
              </ul>
            </li>
            <li><span class="label">Articles: </span><a [appUrl]="'articleList'">{{ articles }}</a></li>
          </ul>

          <h3>Where you can find me</h3>
          <ul>
            <li><a target="_blank" href="https://facebook.com/tomonori.t">Facebook</a></li>
            <li><a target="_blank" href="https://github.com/tanb">GitHub</a></li>
            <li><a target="_blank" href="https://www.instagram.com/tanbgram/">Instagram</a></li>
            <li><a target="_blank" href="https://itunes.apple.com/jp/developer/tomonori-tanabe/id757024440">iTunes App Store</a></li>
            <li><a target="_blank" href="https://keybase.io/tanb">Keybase</a></li>
            <li><a target="_blank" href="https://twitter.com/tanb">Twitter</a></li>
          </ul>

          <h3>Languages</h3>
          <ul>
            <li><a target="_blank" href="https://msdn.microsoft.com/library/67ef8sbd.aspx">C#</a></li>
            <li><a target="_blank" href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html">Objective-C</a></li>
            <li><a target="_blank" href="https://www.python.org">Python</a></li>
            <li><a target="_blank" href="https://swift.org">Swift</a></li>
            <li><a target="_blank" href="https://www.typescriptlang.org">TypeScript</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Japanese_language">日本語</a></li>
          </ul>

          <h3>Acknowledgements</h3>
          <ul>
            <li><a target="_blank" href="https://angular.io">Angular</a></li>
            <li><a target="_blank" href="https://www.chromium.org">Chromium</a></li>
            <li><a target="_blank" href="http://electron.atom.io">ELECTRON</a></li>
            <li><a target="_blank" href="https://www.freebsd.org">FreeBSD</a></li>
            <li><a target="_blank" href="https://github.com/about">GitHub</a></li>
            <li><a target="_blank" href="https://www.gnu.org/software/emacs/">GNU Emacs</a></li>
            <li><a target="_blank" href="http://brew.sh">Homebrew</a></li>
            <li><a target="_blank" href="https://developer.apple.com/library/mac/documentation/DriversKernelHardware/Reference/Hypervisor/">Hypervisor Framework</a></li>
            <li><a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a></li>
            <li><a target="_blank" href="https://www.mercurial-scm.org">Mercurial</a></li>
            <li><a target="_blank" href="https://slack.com">Slack</a></li>
            <li><a target="_blank" href="https://1password.com">1Password</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 text-center tanb-icon">
          <img class="rounded-circle" src="assets/img/tanb.jpg">
        </div>
      </div>

    </div>

    <div class="container">
      <app-footer></app-footer>
    </div>

  </div>
</div>
