@import 'src/sass/variables';
@import 'src/sass/mixins';

:host {
  width: 100%;
}

.body {
  background-color: $light-body-bg-color;
  width: calc(100% * 1/3);

  @include screen-max($screen-xs-max) {
    width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-body-bg-color;
  }

  .languages {
    flex: 1;
  }

  .main-navbar-wrap {
    align-items: center;
    margin-bottom: 2rem;
  }

  .navbar-brand {
    display: block;
    cursor: pointer;
    i {
      &:before {
        position: relative;
        left: 2rem;
      }
      $icon-height: 1.35rem;
      font-size: $icon-height * 5;
      line-height: $icon-height;
      display: flex;
      align-items: center;
    }
    color: $light-text-color;
    &:hover {
      color: rgba($light-text-color, 70%);
    }

    @media (prefers-color-scheme: dark) {
      color: $dark-text-color;
      &:hover {
        color: rgba($dark-text-color, 70%);
      }
    }
  }
}

.head {
  overflow: hidden;
  position: relative;
  width: calc(100% * 2/3);

  @include screen-max($screen-xs-max) {
    max-height: calc(100vh * 2/3);
    width: 100%;
  }

  .crt {
    background-image: url('/assets/img/rgb.png');
    background-repeat: repeat;
    height: 100%;
    opacity: .3;
    position: fixed;
    width: calc(100% * 2/3);

    @include screen-max($screen-xs-max) {
      height: 100vh;
      position: relative;
      width: 100%;
    }
  }

  .cover-image {
    background-image: url('/assets/img/cover.webp');
    background-position: 45% 10%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: calc(100% * 2/3);
    position: fixed;
    width: calc(100% * 2/3);

    @include screen-max($screen-xs-max) {
      height: 0;
      position: relative;
      width: 100%;
    }
  }

  .title-box {
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 -130px 200px -50px rgba($shadow-base-color, .5);
  }
}

.contactme {
  margin-left: auto;
  margin-right: auto;

  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.35rem;
    }
  }
}

.tanb-icon {
  margin-left: auto;
  margin-right: auto;

  .rounded-circle {
    width: 30%;
    border: solid 1px $icon-border-color;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.nowrap {
  white-space: nowrap;
}

.label {
  font-weight: bold;
}


:host-context(body.no-webp) {
  .head {
    .cover-image {
      background-image: url('/assets/img/cover.jpg');
    }
  }
}
