.modal-header {
  padding-top: 15px;
  padding-bottom: 25px;
  .badge {
    display: table;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50px;
    left: calc(50% - 22px;);
    border-radius: 50%;
    background-color: rgb(86, 61, 124);
    color: white;
    .icon {
      display: table-cell;
      vertical-align: middle;
      i {
        font-size: 20px;
      }
    }
  }
  .modal-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
.modal-body {
  padding-top: 40px;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  :not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  :not(:first-child) {
    margin-left: 0px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  button {
    width: 100%;
  }
}
