<div class="modal-header">
  <div class="badge"><i class="fa fa-envelope" aria-hidden="true"></i></div>
  <div class="modal-title">Contact Tomonori Tanabe</div>
</div>
<div class="modal-body">
  <form>
    <div class="form-group col-12">
      <input type="name" class="form-control" id="name" placeholder="Your name">
    </div>
    <div class="form-group col-12">
      <input type="email" class="form-control" id="email" placeholder="Email address">
    </div>
    <div class="form-group col-12">
      <textarea class="form-control" id="message" rows="10" placeholder="Type your message here..."></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-purple" (click)="bsModalRef.hide()">Send</button>
  <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>
