@import 'src/sass/variables';
@import 'src/sass/mixins';

h2 {
  padding: 4rem 0 1rem;
}

p {
  letter-spacing: 0.3px;
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
ul {
  list-style: inside;
}
@include screen-max($screen-xs-max) {
  p > img {
    width: 100%;
  }
}
