<!doctype html>
<html ng-app="ApplicationMain">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Rats In The Grid - AngularJS x CoffeeScript -</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="/js/angularjs_study01.js"></script>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oswald:700' />
  </head>
  <body ng-controller="MainView as mainView">
    <div ng-repeat="token in mainView.tokens" ng-controller="HelloView as helloView" ng-init="helloView.initWithAngle([[token]])">
      <p>Hello [[helloView.name]]</p>
      <button ng-click="helloView.buttonClicked()">Push me!</button>
    </div>

  </body>
</html>
