---
layout: base
---
<div class="wrapper">
    <header>
        <p class="view"><a href="https://github.com/tanB">View My GitHub Profile</a></p>
    </header>

    <div style="display:table; width:100%; height:100%;">
      <div style="display:table-cell; vertical-align:middle; text-align:center;">
	<img src="/img/logo.png" style="width:45px; height:45px; border-radius:100%;">
      </div>
    </div>


    <footer>
        <p><small>Hosted on GitHub Pages &mdash; Powered by <a href="http://getbootstrap.com">Bootstrap</a></small></p>
    </footer>
</div>
<script src="/js/scale.fix.js"></script>

