---
layout: base
---
<div class="wrapper">
    <header>
        <p class="view"><a href="https://github.com/tanB">View My GitHub Profile</a></p>
        <h1>Rats In The Grid</h1>
        <p>%$%##* !%^^!* ~%$ $%&amp;&amp; **^^#</p>
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        <p><small>Hosted on GitHub Pages &mdash; Powered by <a href="http://twitter.github.io/bootstrap/">Bootstrap</a></small></p>
    </footer>
</div>
<script src="javascripts/scale.fix.js"></script>
