@import 'src/sass/variables';
@import 'src/sass/mixins';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  @include screen-max($screen-sm-min) {
    flex-direction: column;
  }
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 1;
}

.indicator.modal-backdrop {
  z-index: 10000;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  img {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 64px;
  }
}

.tnb-modal-dialog {
  .modal-content {
    border: 0;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.5);
  }
}

.btn-purple {
  color: #fff;
  background-color: rgb(86, 61, 124);
  border-color: rgb(86, 61, 124);
  &:hover {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
  }
}

.navbar-brand {
  cursor: pointer;
}
