@import 'src/sass/variables';



.name {
  text-align: center;
  font-size: 1.5rem;
}

.nickname {
  margin-top: .25rem;
  text-align: center;
}

.title {
  text-align: center;
}

.desktop {
  color: $font-base;
  .name {
    font-weight: 700;
    text-shadow: 2px 2px #e3e3e3;
  }
  .nickname {
    a {
      text-decoration: none;
      color: $font-base;
    }
  }
}
.mobile {
  color: white;
  .name {
    text-shadow: 1px 1px 1px $font-base;
  }
  .nickname {
    a {
      color: white;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .desktop, .mobile {
    color:  #fff;
    .name {
      color: #ffbadf;
      font-weight: 100;
      text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
    }
    .nickname {
      a {
        text-decoration: none;
        color: #b2dff7;
        font-weight: 100;
        text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #1500be,0 0 0.6em #1500f0, 0 0 0.8em #1500f0, 0 0 1.0em #1500f0, 0 0 1.2em #1500f0;
      }
    }
  }
}
